<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>JS Test Suites</title>
</head>
<body>
	<h1>Pick One!</h1>
	<ul>
		<li><%= link_to "Jasmine" , :jasmine %></li>
		<li><%= link_to "QUnit" , :qunit %></li>
	</ul>
</body>
</html>

